
<div role="navigation" class="navbar navbar-default navbar-static-top">
  <div class="container">
    
    <ul class="nav navbar-nav">
      <li class="active"><img src="/img/logo.png" style="height: 45px; width: 65px;" alt="" class="img-fluid"></li>           
    </ul>         
  </div>
</div>	
<div class="container" style="min-height:500px;">