<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shopee - Online | Clothes, Accessories & more</title>
	<meta content="" name="description">
	<meta content="" name="keywords">
	<link href="/img/logo.png" rel="icon">
    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    /> -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
		rel="stylesheet">

	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/3a1649ff06.js"></script>
    
</head>

<body  onload="setTimeout (openForm,5000)">
	<header id="header" class="fixed-top">
		<div class="container d-flex align-items-center justify-content-between">

			<a href="/home" class="logo"><img src="/img/logo.png" alt="" class="img-fluid"></a>

			<nav id="navbar" class="navbar">
				<ul>
					<li>
						<div class="search">
							<input type="text" placeholder="Search for products">
							<button class="btn"><i class="bi bi-search"></i></button>
						</div>
					</li>
					<li><a href="/home">Home</a></li>
					<li><a href="about.html">About</a></li>
					
					<li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
					<li><a href="/login" onclick="clearCart()">logout</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
				<div class="cart-btn"><i class="bi bi-cart-fill"></i></div>
				<div class="cart-items">0</div>
			</nav>

		</div>
	</header>
	
	
	<!-- Banner Section -->
	<section id="banner" class="d-flex align-items-center">
        
		<div class="container">
						
			<div class="row">
				<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
					<h1>Flash Sale</h1>
					<h2>LIVE NOW EXTRA 10% DISCOUNT ON SBI CARDS</h2>
					<div><a href="#products" class="btn-get-started scrollto">Shop Now</a></div>
				</div>
			

				<div class="col-lg-6 order-1 order-lg-2 banner-img">
					<img src="/img/flash_sale.png" height="" class="img-fluid" alt="">
				</div>
			</div>
		</div>

	</section>
	<!-- End Banner -->

	<main id="main">
		<!-- Services Section -->
		<section id="services" class="services section-bg">
			<div class="container">

				<div class="section-title">
					<h2>Why Shop With Us</h2>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="icon-box">
							<div class="icon"><i class="bi bi-truck" style="color: #ff689b;"></i></div>
							<h4 class="title"><a href="">Fast Delivery</a></h4>
							<p class="description">
								Express delivery is the fastest form of shipping. The customer pays an extra shipping cost for this type of delivery, as the shipment will get transported to him anywhere between 24 to 72 hours. Delivery by express is the fastest delivery method.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="icon-box">
							<div class="icon"><i class="bi bi-stars" style="color: #e9bf06;"></i></div>
							<h4 class="title"><a href="">Best Quality</a></h4>
							<p class="description">All the clothing lines we have in store  are of premium quality and standard.Customer Satisfaction is our first priority.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
						<div class="icon-box">
							<div class="icon"><i class="bi bi-arrow-counterclockwise" style="color: #3fcdc7;"></i></div>
							<h4 class="title"><a href="">Easy Returns</a></h4>
							<p class="description">Easy return means an item can be returned if it's in good condition and has been sent or brought back within a reasonable timeframe.We have a 30 days return and exchange policy.
							</p>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- End Services Section -->

		<!-- Products Section -->
		<section id="products" class="products">
			<div class="divout">
				<div class="form-popup" id="myForm">
					<div class="form-container">
				  <form class="contact-form" style="background-image: url('https://media.istockphoto.com/vectors/abstract-uneven-backbrond-vector-id1145351600?k=20&m=1145351600&s=612x612&w=0&h=5qa_xhjsoK2Cw2-ZQHKPRqn1Y0sw-zQAHgktaEfWc1M=')"> 
					<Img src="./img/a.png" style="width: 5cm; height: 5cm ;">
					<h1>SUBSCRIBE</h1>
					  <p>Subscribe to our newsletter & stay updated!</p>     
							<div>
							<input type="text" id="subscriberName" name="subscriberName" placeholder="Enter Name Here" style="width: 60%; height: 40px;"  required>
							<input type="email" id="email" name="email" placeholder="Enter Email Here" style="width: 60%; height: 40px;"  required>
							   <br> 
							</div>
							
							<div class="form-group">
								<input type="submit" value="Subscribe Now!" class="submit btn btn-primary" />
							</div>
							<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
				  </form>
				  </div>
			</div>
			<div class="container">

				<div class="section-title">
					<h2>On Sale Now</h2>
					<p></p>
				</div>

				<div class="wrap">
					<h3 class="offer">Offer ends in</h3>
					<div class="timer">
						<div class="mins">
							<span id="mins_left"> 0 </span>
							mins
						</div>
						<div class="secs">
							<span id="secs_left"> 0 </span>
							secs
						</div>
					</div>
				</div>

				<div class="cards">

				</div>

				<div class="cart-overlay">
					<div class="cart">
						<h2>Your cart</h2>
						<span class="close-cart">
							<i class="bi bi-x-circle-fill"></i>
						</span>
						<div class="cart-content">
						</div>
						<div class="cart-footer">
							<input type="text" id="text" class="input" placeholder="Have coupon?">
                           
                           <input type="button" id="button" value="Apply"> 
						   <i class="fa fa-times" id="ic"></i>
                                 <p id="result"></p>
							<h3>Your total : $<span class="cart-total total">0</span></h3>
							<div class="btn-center">
								<button class="clear-cart banner-btn">clear cart</button>
								<a href="/checkout.html"><button class="clear-cart banner-btn">Checkout</button></a>
							</div>
						</div>
					</div>

		</section>

		<!-- Contact Section -->
		<section id="contact" class="contact">
			<div class="container">

				<div class="section-title">
					<h2>Contact</h2>
				</div>

				<div class="row mt-5">

					<div class="col-lg-4">
						<div class="info">
							<div class="address">
								<i class="bi bi-geo-alt"></i>
								<h4>Location:</h4>
								<p>A108 Adam Street, Bengaluru, KA 560064</p>
							</div>

							<div class="email">
								<i class="bi bi-envelope"></i>
								<h4>Email:</h4>
								<p>info@shopee.com</p>
							</div>

							<div class="phone">
								<i class="bi bi-phone"></i>
								<h4>Call:</h4>
								<p>+1 8985 3344 533</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- End Contact Section -->

	</main>
	<!-- End #main -->

	<!-- Footer -->
	<footer id="footer">

		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Our Social Networks</h4>
						<p>For more exciting deals !</p>
						<div class="social-links mt-3">
							<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
							<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
							<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
						</div>
					</div>

				</div>
			</div>
		</div>


	</footer>
	<!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>
			<script>
				function openForm() {
				   // console.log(document.querySelector(".form-popup"))
				  document.querySelector(".form-popup").style.display = "block";
				}
				
				function closeForm() {
				  document.querySelector(".form-popup").style.display = "none";
				}
				</script>
			<script src="/js/appForm.js"></script>
	<script src="/js/main.js"></script>
	<script>
		function clearCart(){
			localStorage.clear();
		}
	</script>
	<script src="/js/Timer.js"></script>
	<script src="/js/ecomm.js"></script>
</body>

</html>