body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.header a {
  text-decoration: none;
  color: #49b5e7;
}

a{
  text-decoration: none;
  color: black;
}

.header a:hover {
  color: #76c7ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #49b5e7;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #6dc4ec;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Header */
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
#header .logo a {
  color: #0f394c;
}
#header .logo img {
  max-height: 40px;
}

/* Navigation Menu */
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.search {
  font-family: "Lato", sans-serif;
}

.search input{
  width: 30vw;
  height: 27px;
  border-radius: 5px;
  padding-left: 20px;
}

.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #0f394c;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #49b5e7;
}

/*mobile navigation*/

.mobile-nav-toggle {
  color: #0f394c;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(7, 25, 33, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0f394c;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #49b5e7;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

/* Hero Section */
#banner {
  width: 100%;
  height: 80vh;
  background: #f9f9f9;
}
#banner .container {
  padding-top: 84px;
}
#banner h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #0f394c;
  text-transform: uppercase;
}
#banner h2 {
  color: #1c698c;
  margin: 10px 0 0 0;
  font-size: 20px;
}
#banner .btn-get-started {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 25px;
  color: #fff;
  background: #49b5e7;
  text-transform: uppercase;
}
#banner .btn-get-started:hover {
  background: #76c7ed;
}
@media (max-width: 991px) {
  #banner {
    height: 100vh;
    text-align: center;
  }
  #banner .banner-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #banner h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #banner h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #banner .banner-img img {
    width: 80%;
  }
}

/* Sections General */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f4fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #0f394c;
}
.section-title p {
  margin-bottom: 0;
}

/* Services */
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}
.services .icon-box:hover {
  transform: translateY(-5px);
}
.services .icon {
  padding-left: 95px;
  padding-bottom: 20px;
}
.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}
.services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .icon-box:hover .title a {
  color: #49b5e7;
}
.services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

/* Products */
.wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timer{
  display: flex;
  text-align: center;
  flex-direction: row;
  
  margin-left: 3rem;
  gap: 30px;
  color:red;
  margin-top: -5px;
}

.offer{
  flex-basis: 8rem;
}

.mins{
  background-color: blanchedalmond;
  margin-bottom: 15px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 22px;
  padding-top: 15px;
}

.secs{
  background-color: blanchedalmond;
  margin-bottom: 15px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 22px;
  padding-top: 15px;
}


/* Contact */
.contact{
  color: #49b5e7;
}
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #49b5e7;
  float: left;
  width: 44px;
  height: 44px;
  background: #ebf7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #0f394c;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #2079a1;
}

/* Footer */
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f4fbfe;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #0f394c;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #49b5e7;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #49b5e7;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #49b5e7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #1da2e0;
  color: #fff;
  text-decoration: none;
}

/* Cart */
.cart-items {    
  position: absolute;
  top: -8px;
  right: -8px;
  background: #f09d51;
  padding: 0 5px;
  border-radius: 30%;
  color:  #fff;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: var(--mainTransition);
  background: rgba(223, 176, 132, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position:fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 85%;
  overflow: scroll;
  background: var(--mainWhite);
  z-index: 3;
  background: rgb(221, 210, 201);
  padding: 1.5rem;
  transition: var(--mainTransition);
  /* transform: translateX(100%); */
}
 .showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}

.cart-footer{
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
 
}

.cart-footer input{
  font-family: "Lato", sans-serif;
  border-radius: 5px;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.banner-btn {
  padding: 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  margin-top: 25px ;
  margin-right: 10px;
  display: inline-block;
  border: solid black;
  border-radius: 10px;
  
}

.cards{
  text-align: center;
}

.cart-btn i{
  padding-left: 25px;
  font-size: 30px;
}

.btn i{
  font-size: 25px;
}

.cart h2{
  text-align: center;
  padding-top: 80px;
  display: inline-block;
}

.cart .close-cart i{
  font-size: 30px;
  display: inline-block;
  padding-left: 275px;
  left: 0;
}

.lines p{
  color: red;
  font-weight:bolder;
}

#og_price{
  color: gray;
  font-style: italic;
}

#discount {
  color: black;
  font-weight: bold;
}

.buy-btn {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 6px;
  transition: 0.5s;
  margin-top: 25px;
  color: #fff;
  background:black;
}
.buy-btn:hover {
  background: #76c7ed;
}

/* popup css */
/* .divout{
  position: relative;
  display: inline-block;
} */

.divinside{
position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 150px;
  height: 100px;
  background-color: #ff751a;
  opacity: 1;
}

/*popup ----------------------- */

/* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: center;

}

/* The popup form - hidden by default */
.form-popup {
display: none;
position: absolute;
padding-left: 25%;
padding-right: 25%;
bottom: 0;
right: 15px;
z-index: 9;
}
.divout{
  margin-right: 100px;
}

/* Add styles to the form container */
.form-container {
max-width: 600px;
padding: 10px;
background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],input[type=email] {
width: 100%;
padding: 15px;
margin: 5px 0 10px 80px;
border: none;
background: white;
}

/* When the inputs get focus, do something */
/* .form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
} */

/* Set a style for the submit/login button */
.form-container .btn {
background-color: #1b82c7;
color: white;
padding: 9px 0px;
border: none;
margin-left: 80px;
margin-top: 4px;
cursor: pointer;
width: 60%;


opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: rgba(207, 80, 80, 0.349);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}